{% trans_default_domain 'FOSUserBundle' %}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Cadastro de Usuário</h3>

        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
        <!-- /.box-tools -->
    </div>
<div class="box-body">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
                  role="form">
                {#{{ form_widget(form) }}#}
                <div class="form-group">
                    {{ form_row(form.email,{'label': 'E-mail:','label_attr' : { 'class' : 'control-label' },'attr' : { 'class' : 'form-control input-md'}}) }}
                </div>

                <div class="form-group">

                    {{ form_row(form.username,{'label': 'Usuário:','label_attr' : { 'class' : ' control-label' },'attr' : { 'class' : 'form-control input-md'}}) }}
                </div>
                <div class="form-group">

                    {{ form_row(form.plainPassword.first,{'label': 'Senha:','label_attr' : { 'class' : ' control-label' },'attr' : { 'class' : 'form-control input-md'}}) }}
                </div>
                <div class="form-group">

                    {{ form_row(form.plainPassword.second,{'label': 'Confirme a senha:','label_attr' : { 'class' : ' control-label' },'attr' : { 'class' : 'form-control input-md'}}) }}
                </div>
                <div display="hidden">{{ form_rest(form) }}</div>
                <div>
                    <input type="submit" class="btn btn-default" value="{{ 'Cadastrar'|trans }}"/>
                </div>
            </form>
        </div>
    </div>
</div>
</div>