<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acompanhamento</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('bundles/app/css/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/avanzuadmintheme/static/dev/styles/admin-lte-all.css') }}" rel="stylesheet"
          type="text/css">
    <script src="{{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}"></script>
</head>
<script>
    function executeQuery() {
        $.ajax({
            url: '{{ path('atualiza') }}',
            success: function(data) {

            }
        });
        setTimeout(executeQuery, 5000); // you could choose not to continue on failure...
    }

    function showPages(data) {
        $('#dados').html('<div data-slick=\'{"slidesToShow": 4, "slidesToScroll": 4}\'>\n' +
            '  <div><h3>1</h3></div>\n' +
            '  <div><h3>2</h3></div>\n' +
            '  <div><h3>3</h3></div>\n' +
            '  <div><h3>4</h3></div>\n' +
            '  <div><h3>5</h3></div>\n' +
            '  <div><h3>6</h3></div>\n' +
            '</div>');
    }

    $(document).ready(function() {
        // run the first time; all subsequent calls will take care of themselves
        setTimeout(executeQuery, 5000);
    });

</script>
<body style="margin: 2em">

<!-- Content here -->
<div class="row">
    <div class="logo text-center">
        <img src="{{ asset('bundles/app/image/acompanha101.png') }}" width="200px"/>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" id="dados">
                {% set page_number = 0 %}
            {% for item in acompanhamentos %}
                {% set ico = item.setor.imageName %}
                {% if(loop.index is divisible by(9)) %}
                     </div>
            {% endif %}
                {% if(loop.index == 1) or loop.index is divisible by(9)%}
                    {% set page_number = page_number + 1 %}
                <div id="page{{ page_number }}">
                {% endif %}
                <div class="col-lg-4 col-sm-6 col-md-4">
                    <div class="circle-tile">
                        <a href="#">
                            <div class="circle-tile-heading dark-gray">
                                <i class="fa">
                                    <img width="50px" src="{{ asset('bundles/app/image/'~ico~'.png') }}"/>
                                </i>
                            </div>
                        </a>
                        <div class="circle-tile-content dark-gray">
                            <div class="circle-tile-number text-faded">
                                {{ item.paciente }}
                                <span id="sparklineA"></span>
                            </div>
                            <div class="circle-tile-description text-bold">
                                {{ item.setor.nome }}
                            </div>
                        </div>
                    </div>
                </div>
                    {% if(loop.last) %}
                    </div>
                    {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>