<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acompanhamento</title>
    <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/app/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('bundles/app/css/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/avanzuadmintheme/static/dev/styles/admin-lte-all.css') }}" rel="stylesheet"
          type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-migrate-1.2.1.min.js') }}"></script>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/slick.css') }}"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/app/css/slick-theme.css') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/app/js/slick.min.js') }}"></script>
    {#<script src="{{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}"></script>#}

</head>
<script>
    $(document).ready(function () {
        $('.autoplay').slick({
            slidesToShow: 1,
            autoplay: true,
            autoplaySpeed: 6000,
        });
        var auto_atualiza = setInterval(function () {
            $.ajax({
                url: '{{ path('atualiza') }}',
                success: function (data) {
                    var $result = $(data).filter('#pacientes');
                    $('#pacientes').html($result);
                    $('.autoplay').slick({
                        slidesToShow: 1,
                        autoplay: true,
                        autoplaySpeed: 6000,
                    });
                }
            });
        }, 40000);
        // run the first time; all subsequent calls will take care of themselves
//        setTimeout(executeQuery, 5000);
    });

</script>

<body style="margin: 2em">
<!-- Content here -->
<div id="pacientes" class="row">
    {% block pacientes %}
    {% endblock %}
</div>
</body>
